Package: mx-welcome
Version: 16.9mx15
Architecture: amd64
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 187
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libqt5core5a (>= 5.0.2), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 4.1.1), mx-viewer
Section: admin
Priority: optional
Description: MX Welcome
 MX Welcome displays a welcome screen
