Package: mx-welcome
Version: 15.10.4mx15
Architecture: i386
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 149
Depends: libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libqt5core5a (>= 5.0.2), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 4.1.1)
Section: admin
Priority: optional
Description: MX Welcome
 MX Welcome displays a welcome screen
