[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[ca]=MX Welcome
Name[de]=MX Welcome
Name[el]=MX Welcome
Name[es]=MX Welcome
Name[fr]=MX Welcome
Name[it]=MX Welcome
Name[ja]=MX Welcome
Name[nl]=MX Welcome
Name[sv]=MX Welcome
Comment=Display welcome message
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=mx-welcome
Terminal=false
Type=Application
Icon=system
Categories=GNOME;GTK;System;
NoDisplay=false
