[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[am]=MX እንኳን ደህና መጡ 
Name[ca]=MX Welcome
Name[cs]=MX Vítejte
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[es]=MX Bienvenida
Name[fi]=MX Welcome
Name[fr]=MX Accueil
Name[hi]=MX Welcome
Name[hr]=MX Welcome
Name[hu]=MX üdvözlet
Name[it]=MX Benvenuto
Name[ja]=MX Welcome
Name[kk]=MX Welcome
Name[lt]=MX pasveikinimas
Name[nl]=MX Welkom
Name[pl]=MX Welcome
Name[pt]=MX-Boas-vindas
Name[pt_BR]=MX Welcome
Name[ro]=MX Welcome
Name[ru]=MX Приветствие
Name[sk]=MX Vitajte
Name[sv]=MX Välkommen
Name[tr]=MX Welcome
Name[uk]=MX Welcome
Name[zh_TW]=MX 歡迎你
Comment=Display welcome message
Comment[am]=እንኳን ደህና መጡ መልእክት ማሳያ
Comment[ca]=Mostra un missatge de benvinguda
Comment[cs]=Zobrazuje uvítací obrazovku
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[fi]=Display welcome message
Comment[fr]=Afficher un message d'accueil
Comment[hi]=Display welcome message
Comment[hr]=Display welcome message
Comment[hu]=Üdvözlő üzenet megjelenítése
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja]=Welcome メッセージの表示
Comment[kk]=Display welcome message
Comment[lt]=Rodyti pasisveikinimo pranešimą
Comment[nl]=Laat welkomstbericht zien
Comment[pl]=Display welcome message
Comment[pt]=Mostra uma estampa de boas-vindas [mx-welcome]
Comment[pt_BR]=Display welcome message
Comment[ro]=Display welcome message
Comment[ru]=Показ приветственного сообщения
Comment[sk]=Zobraziť uvítaciu správu
Comment[sv]=Visa välkomstmeddelande
Comment[tr]=Display welcome message
Comment[uk]=Display welcome message
Comment[zh_TW]=顯示歡迎畫面
Exec=mx-welcome
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
