[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[am]=MX እንኳን ደህና መጡ
Name[ar]=MX Welcome
Name[bg]=MX Welcome
Name[ca]=MX Welcome
Name[cs]=MX Vítejte
Name[da]=MX Velkomst
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[es]=MX Bienvenida
Name[et]=MX Welcome
Name[eu]=MX Welcome
Name[fa]=MX Welcome
Name[fi]=MX Welcome
Name[fr]=MX Centre d'accueil
Name[he_IL]=MX Welcome
Name[hi]=MX Welcome
Name[hr]=MX Welcome
Name[hu]=MX üdvözlet
Name[id]=MX Welcome
Name[is]=MX Welcome
Name[it]=MX Benvenuto
Name[ja_JP]=MX Welcome
Name[ja]=MX Welcome
Name[kk]=MX Welcome
Name[ko]=MX Welcome
Name[lt]=MX pasveikinimas
Name[mk]=MX Welcome
Name[nb]=MX Welcome
Name[nl]=MX Welkom
Name[pl]=MX Powitanie
Name[pt_BR]=MX Boas-vindas
Name[pt]=MX-Boas-vindas
Name[ro]=MX Welcome
Name[ru]=MX Приветствие
Name[sk]=MX Vitajte
Name[sl]=MX Dobrodošli
Name[sq]=MX Welcome
Name[sr]=MX Welcome
Name[sv]=MX Välkommen
Name[tr]=MX Welcome
Name[uk]=MX Welcome
Name[zh_CN]=MX Welcome
Name[zh_TW]=MX 歡迎你
Comment=Display welcome message
Comment[am]=እንኳን ደህና መጡ መልእክት ማሳያ
Comment[ar]=Display welcome message
Comment[bg]=Display welcome message
Comment[ca]=Mostra un missatge de benvinguda
Comment[cs]=Zobrazuje uvítací obrazovku
Comment[da]=Vis velkomstmeddelelse
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[et]=Display welcome message
Comment[eu]=Display welcome message
Comment[fa]=Display welcome message
Comment[fi]=Display welcome message
Comment[fr]=Afficher un message d'accueil
Comment[he_IL]=Display welcome message
Comment[hi]=Display welcome message
Comment[hr]=Display welcome message
Comment[hu]=Üdvözlő üzenet megjelenítése
Comment[id]=Display welcome message
Comment[is]=Display welcome message
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja_JP]=Display welcome message
Comment[ja]=Welcome メッセージの表示
Comment[kk]=Display welcome message
Comment[ko]=Display welcome message
Comment[lt]=Rodyti pasisveikinimo pranešimą
Comment[mk]=Display welcome message
Comment[nb]=Display welcome message
Comment[nl]=Laat welkomstbericht zien
Comment[pl]=Wyświetl wiadomość powitalną
Comment[pt_BR]=Mostra a janela de boas-vindas [mx-welcome]
Comment[pt]=Mostra uma estampa de boas-vindas com ligações úteis e informação de acesso ao sistema [mx-welcome]
Comment[ro]=Display welcome message
Comment[ru]=Показ приветственного сообщения
Comment[sk]=Zobraziť uvítaciu správu
Comment[sl]=Prikaži dobrodošlico
Comment[sq]=Display welcome message
Comment[sr]=Display welcome message
Comment[sv]=Visa välkomstmeddelande
Comment[tr]=Display welcome message
Comment[uk]=Display welcome message
Comment[zh_CN]=Display welcome message
Comment[zh_TW]=顯示歡迎畫面
Exec=mx-welcome
Terminal=false
Type=Application
Icon=mx-welcome
Categories=GNOME;GTK;System;MX-Setup;
NoDisplay=false
