[Desktop Entry]
Encoding=UTF-8
Name=MX Welcome
Name[ca]=MX Welcome
Name[de]=MX Willkommen
Name[el]=MX Welcome
Name[es]=MX Bienvenida
Name[fr]=MX Bienvenue
Name[it]=MX Benvenuto
Name[nl]=MX Welkom
Name[ru]=MX Приветствие
Name[sv]=MX Välkommen
Comment=Display welcome message
Comment[ca]=Mostra un missatge de benvinguda
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[fr]=Afficher message de bienvenue
Comment[it]=Visualizzare messaggio di benvenuto
Comment[nl]=Laat welkomstbericht zien
Comment[ru]=Открывает диалог с приветствием нового пользователя
Comment[sv]=Visa välkomstmeddelande
Exec=mx-welcome
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mx/mx-welcome.png
Categories=GNOME;GTK;System;
NoDisplay=false
